/* Matt Usifer */

:-moz-placeholder {
color: #999;
}
::-webkit-input-placeholder {
color: #999;
}
::-webkit-validation-bubble-message {
padding: 1em;
}

*:focus {outline: none;}

a:link, a:visited {
	font-weight: bold;
	color: #000;
	text-decoration: none;
}

a:hover {
	color: #f45
}

html,body {
	padding: 0 0;
	overflow-x: hidden;
	font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

h2 {
	font-family:Big Caslon;
}

h3 {
	color: #333;
}

div#one {
	background: #BBFFFF;
}

div#two {
	background: #8EE5EE;
}

div#three {
	background: #63D1F4;
}

div#four {
	background: #fff;
}

#zero-one {
/* S8EE5EEri 4+, Chrome 1-9 */
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#BBFFFF));

/* S8EE5EEri 5.1+, Mobile S8EE5EEri, Chrome 10+ */
background-image: -webkit-linear-gradient(top, #fff, #BBFFFF); 

/* Firefox 3.6+ */
background-image: -moz-linear-gradient(top, #fff, #BBFFFF);

/* IE 10+ */
background-image: -ms-linear-gradient(top, #fff, #BBFFFF);

/* Opera 11.10+ */
background-image: -o-linear-gradient(top, #fff, #BBFFFF);
}

#one-two {
/* S8EE5EEri 4+, Chrome 1-9 */
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#BBFFFF), to(#8EE5EE));

/* S8EE5EEri 5.1+, Mobile S8EE5EEri, Chrome 10+ */
background-image: -webkit-linear-gradient(top, #BBFFFF, #8EE5EE); 

/* Firefox 3.6+ */
background-image: -moz-linear-gradient(top, #BBFFFF, #8EE5EE);

/* IE 10+ */
background-image: -ms-linear-gradient(top, #BBFFFF, #8EE5EE);

/* Opera 11.10+ */
background-image: -o-linear-gradient(top, #BBFFFF, #8EE5EE);
}

#two-three {
/* S8EE5EEri 4+, Chrome 1-9 */
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#8EE5EE), to(#63D1F4));

/* S8EE5EEri 5.1+, Mobile S8EE5EEri, Chrome 10+ */
background-image: -webkit-linear-gradient(top, #8EE5EE, #63D1F4); 

/* Firefox 3.6+ */
background-image: -moz-linear-gradient(top, #8EE5EE, #63D1F4);

/* IE 10+ */
background-image: -ms-linear-gradient(top, #8EE5EE, #63D1F4);

/* Opera 11.10+ */
background-image: -o-linear-gradient(top, #8EE5EE, #63D1F4);
}


#three-four {
/* S8EE5EEri 4+, Chrome 1-9 */
background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#63D1F4), to(#530));

/* S8EE5EEri 5.1+, Mobile S8EE5EEri, Chrome 10+ */
background-image: -webkit-linear-gradient(top, #63D1F4, #fff); 

/* Firefox 3.6+ */
background-image: -moz-linear-gradient(top, #63D1F4, #fff);

/* IE 10+ */
background-image: -ms-linear-gradient(top, #63D1F4, #fff);

/* Opera 11.10+ */
background-image: -o-linear-gradient(top, #63D1F4, #fff);
}

div.fill {
	height: 800px;
	margin: -10px 0;
}

div.subcontainer {
	width: 800px;
}

div.content {
	min-height: 800px;
	position: relative;
	background: #fff;
	text-align: justify;
	padding: 40px 75px 100px 275px;
	line-height: 150%;
	height: 100%;
}

div#three h1 {
	margin-left: -57px;
	padding-left: 57px;
	padding-top: 5px;
	width: 100%;
	color: #63D1F4;
	background: #000;
}

div#four h1 {
	margin-left:-69px;
	padding-left:69px;
	padding-top:5px;
	width: 102%;
	color: #fff;
	background: #000;
}

div#four {
	padding-top: 100px;
}

div#head {
	background: rgba(100,100,100,.5);
	padding: 25px 50px 25px 25px;
	margin-left: -25px;
	text-align: right;
	position: fixed;
	top:50px; left:25px;
	font-size: 3em;
	width: 150px;
	height: 500px;
	z-index:100;
	border-top: 5px solid #000;
	border-bottom: 5px solid #000;
	border-right: 1px solid #000;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
}

div#personalInfo {
	display: block;
	width: 175px;
	text-align: right;
	float: left;
}

/*form*/
.contact_form h2, .contact_form label {
font-family:Georgia, Times, "Times New Roman", serif;
}
.form_hint {
font-size: 11px;
}
.contact_form ul {
width:750px;
list-style-type:none;
list-style-position:outside;
margin:0px;
padding:0px;
}
.contact_form li{
padding:12px;
border-bottom:1px solid #eee;
position:relative;
}

.contact_form li:first-child, .contact_form li:last-child {
border-bottom:1px solid #777;
}

.contact_form h2 {
margin:0;
display: inline;
}
.required_notification {
color:#d45252;
margin:5px 0 0 0;
display:inline;
float:right;
}

.contact_form label {
width:150px;
margin-top: 3px;
display:inline-block;
float:left;
padding:3px;
}
.contact_form input {
height:20px;
width:220px;
padding:5px 8px;
}
.contact_form textarea {padding:8px; width:300px;}
.contact_form button {margin-left:156px;}

.contact_form input, .contact_form textarea {
border:1px solid #aaa;
box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
border-radius:2px;
}
.contact_form input:focus, .contact_form textarea:focus {
background: #fff;
border:1px solid #555;
box-shadow: 0 0 3px #aaa;
}

/* Button Style */
button.submit {
background-color: #ccc;
border: 1px solid #aaa;
border-bottom: 1px solid #000;
border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-ms-border-radius: 3px;
-o-border-radius: 3px;
box-shadow: inset 0 1px 0 0 #000;
-webkit-box-shadow: 0 1px 0 0 #000 inset ;
-moz-box-shadow: 0 1px 0 0 #000 inset;
-ms-box-shadow: 0 1px 0 0 #000 inset;
-o-box-shadow: 0 1px 0 0 #000 inset;
color: black;
font-weight: bold;
padding: 6px 20px;
text-align: center;
text-shadow: 0 -1px 0 #fff;
}
button.submit:hover {
opacity:.85;
cursor: pointer;
}
button.submit:active {
border: 1px solid #20911e;
box-shadow: 0 0 10px 5px #356b0b inset;
-webkit-box-shadow:0 0 10px 5px #356b0b inset ;
-moz-box-shadow: 0 0 10px 5px #356b0b inset;
-ms-box-shadow: 0 0 10px 5px #356b0b inset;
-o-box-shadow: 0 0 10px 5px #356b0b inset;
}

.contact_form input:focus, .contact_form textarea:focus { /* add this to the already existing style */
padding-right:70px;
}

.contact_form input, .contact_form textarea {
padding-right:30px;
}

p#tagline {
	color: #fff;
	font-size: .3em;
	font-variant: none;
	text-transform: lowercase;
}

img#portrait {
float: right;
height: 350px;
}

.hide-overflow {
	overflow: hidden;
}

div.colorize {
	display: block;
	height: 425px;
		position: relative;
		margin-bottom: 100px;
}

/* position two images on top of one another */
	div.colorize img {
		position: absolute;
		top:0; left:0;
		width: 800px;
	}
	
	/* don't display color image on page load */
	img.color {
		display:none;
	}

table.squares {
	background: url('pictures/home.jpg');
border-collapse:collapse;
	width: 800px;
	height: 500px;
margin: 0 auto;
}

table.squares td {
	background: url('pictures/home-bw.jpg');
-webkit-transition: all .2s linear;
-moz-transition: all .2s linear;
-o-transition: all .2s linear;
}

table.squares td:hover {
background: rgba(255,255,255,0);
}

td#b {
	background-position: 640px 0;
}

td#c {
	background-position: 480px 0;
}

td#d {
	background-position: 320px 0;
}

td#e {
	background-position: 160px 0;
}

td#f {
	background-position: 0 400px;
}

td#g {
	background-position: 640px 400px;
}

td#h {
	background-position: 480px 400px;
}

td#i {
	background-position: 320px 400px;
}

td#j {
	background-position: 160px 400px;
}

td#k {
	background-position: 0 300px;
}

td#l {
	background-position: 640px 300px;
}

td#m {
	background-position: 480px 300px;
}

td#n {
	background-position: 320px 300px;
}

td#o {
	background-position: 160px 300px;
}

td#p {
	background-position: 0 200px;
}

td#q {
	background-position: 640px 200px;
}

td#r {
	background-position: 480px 200px;
}

td#s {
	background-position: 320px 200px;
}

td#t {
	background-position: 160px 200px;
}

td#u {
	background-position: 0 100px;
}

td#v {
	background-position: 640px 100px;
}

td#w {
	background-position: 480px 100px;
}

td#x {
	background-position: 320px 100px;
}

td#y {
	background-position: 160px 100px;
}

table#pictures {
    border-collapse: collapse;
	margin: 0 auto;
    max-width: 800px;
    max-height: 500px;
    background: #000;
}

table#pictures td {
    height: 100px; width:150px;
    border: 1px solid #000;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
}

td img {
    height: 100%;
    width: 100%;
}

table#pictures td:hover {
	position: relative;
	margin-left: -50px; margin-top: -50px;
    height: 325px; width: 600px;
}

div#zero img {
height: 700px;
}

ul#nav li {
	font-weight: normal;
	font-size: .4em;
	list-style-type: none;
	padding-top: 40px;
}

ul#nav li a:link, ul#nav li a:visited, div#head a:link, div#head a:visited {
	font-variant: normal;
	text-transform: lowercase;
	text-decoration: none;
	color: #fff;
	padding: 5px 0;
}

ul#nav li a:hover {
	text-shadow: black 0.1em 0.1em 0.2em
}

ul#nav li.active {
	font-weight: normal;
	letter-spacing: 7px;	
}

div#head a[title='#zero'] {
	font-variant: small-caps;
	color: #000;
}




/*resume*/

.blocks {
	margin-bottom: 100px;
	background: #ffc;
	padding: 25px 50px;
border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-ms-border-radius: 3px;
-o-border-radius: 3px;
}

.company, .companyInfo {
	margin-left: -50px;
}

.courses{ 
	display: block;
}

.dates { 
	text-align: right;
	font-family: arial;
	font-weight: normal;
	font-size: 12pt;
	float: right;
}

.description{
	color: #000000;
	margin-top: 10px;
	font-family: "arial";
	font-size: 10pt;
}

.vcard {
	margin: 0 auto;
	position: relative;
}

#profExperience, #education, #experience, #interests, #references {
	position: relative;
}

.int{
	margin-top: 6pt;
	margin-left: 5em;
	list-style-type: none;		
}

.job{ display: block;
	margin-top: 6pt;
	margin-left: 5em;
}

.jobtitle {text-align: left;
	color: #000000;
	font-family: "arial";
	font-style: italic;
	font-size: 12pt;
	display: block;
}

.location { 
	text-align: left;
	font-weight: normal;
	display: inline;
	font-size: 10pt;
}

.major{ 
	display: inline;
	width: 50%;
	float: left;
	border: 0px solid blue;
	list-style-type: disc;
}

.MajorDegree{
	display: block;
	color: #000000;
	font-size: 12pt;
} 

.minor { 
	position: relative;
	left: 10px;
	margin-top: 0pt;
	margin-left: 0em;
	border: 0px solid green;
	list-style-type: none;
}

.MinorDegree {display: block;
	color: #000000;
	font-size: 12pt;
} 

.school { 
	display: block;
	margin-top: 6pt;
	margin-left: 5em;
	list-style-type: none;
}

.subtitle {
	position: relative;
	right: 20px;
}
